// Colors
$color_primary : #0FE774;
$color_secondary : #5AE99D;
$green: #007E14;
$red : #A40404;
$blue : #0034BB;
$grey: #444444;
$black : #0a0a0a;
$white: #cecece;

//$green1: #03e348;
// #00FF00;
$color_primary : #00FF00;
$color_secondary : #00FF00;


// Typo
$plex : "IBM Plex Mono", serif;
$poppins : 'Poppins', sans-serif;

// Font-size
$fs-1 : 3.2rem;
$fs-2 : 2.4rem;
$fs-sm: 1.2rem;
$fs-md: 1.8rem;