{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="position-absolute top-50 start-50 translate-middle bg-light p-4 rounded shadow-sm" style="width: 400px;">
        <form action="{{ path('app_login') }}" method="post">
            <div class="mb-4">
                <label for="username">Email:</label><br>
                <input type="text" id="username" name="_username" value="{{ last_username }}" style="width: 100%">
            </div>
            <div class="mb-4">
                <label for="password">Mot de passe:</label><br>
                <input type="password" id="password" name="_password" style="width: 100%">
            </div>

            <button type="submit" class="btn btn-primary">login</button>
        </form>
    </div>
{% endblock %}