$spacing-size: (
        1:1rem,
        2:2rem,
        3:3rem,
        4:4rem,
        5:5rem
);

@each $key, $value in $spacing-size {
  .margin-t-#{$key} {
    margin-top: $value;
  }
  .margin-l-#{$key} {
    margin-left: $value;
  }
  .margin-r-#{$key} {
    margin-right: $value;
  }
  .margin-b-#{$key} {
    margin-bottom: $value;
  }
}

@each $key, $value in $spacing-size {
  .padding-t-#{$key} {
    padding-top: $value;
  }
  .padding-l-#{$key} {
    padding-left: $value;
  }
  .padding-r-#{$key} {
    padding-right: $value;
  }
  .padding-b-#{$key} {
    padding-bottom: $value;
  }
}