@import url('reset.css');

body {
    margin: 0;
}

.admin {
    display: flex;
}

.admin__aside {
    background: #1dc9a4;
    height: 100vh;
    position: fixed;
    left: 0;
    width: 150px;
    padding-top: 5rem;
}

.admin__content {
    margin-left: 150px;
    width: calc(100vw - 200px);
    padding: 5rem;
}

.admin__nav_item {
    padding-bottom: 1rem;
}

.admin__nav_item.active {
    list-style-type: circle;
}

.table__cell {
    vertical-align: middle;
}

.vich-image img {
    width: 400px;
}

.vich-image input {
    margin-bottom: 2rem;
}

.form-check {
    margin-top: 1rem;
}

.vich-image a:last-child {
    display: block;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.checkbox_ctn {
    display: flex;
}

.form-check {
    margin-top: 0;
    margin-right: 1rem;
}