{% extends 'base.html.twig' %}

{% block title %}Liste de toutes les séries de jeu vidéo{% endblock %}
{% block description %}Retrouvez la liste de toutes les séries de jeu vidéo pour trouver les articles associés{% endblock %}

{% block body %}
    <h1 class="page__h1 font__1">Liste de toutes les séries</h1>
    <section class="section">
        <div class="grid-6 gap-4">
            {% for item in series %}
                {{ include('components/_bloc.html.twig', {'route':'app_serie'}) }}
            {% endfor %}
        </div>
    </section>
{% endblock %}
